*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary: #174DBA;
    --gray: #EFF0F3;
    --white: #FFFFFF;
    --dark: #505050;
}
input, button, select{  
    border-radius: 8px;
    border: solid 1px var(--primary);
    height: 45px;
    padding: 0 5px;
}
input,button,select, label{
    width: 100%;
}
label, a, h1{
    color: var(--primary);
    text-decoration: none;
}
span{
    width: 100%;
    text-align: center;
}
body{
    background-color: var(--gray);
    height: 100vh;
    width: 100vw;
}
main{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
button{
    width: 100%;
    border:  none;
    background-color: var(--primary);
    height: 40px;
    text-transform: uppercase;
    color: var(--white);
}

@media(max-width:710px){
    body{
        background-color: var(--white);
    }
}

/* Navbar */
.container-navbar{
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    max-height: 70px;
    position: sticky;
    top: 0;
}